:root {
  --standard-padding: 1em;
}

body {
  overflow-y: scroll;
  background-color: #faf9f8;
}

.logo {
  min-height: 4em;
}

.full-width {
  width: 100%;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132),0 0.3px 0.9px 0 rgba(0,0,0,0.108);
  box-sizing: border-box;
  max-width: 100%;
}

.expand {
  width: 100%;
}

.half {
  flex: 1;
}

.card-title {
  margin: 0;
  padding: var(--standard-padding);
  padding-bottom: calc(var(--standard-padding) - 13.2px);
  display: block;
}

.card-content {
  padding: var(--standard-padding);
  padding-top: 0;
}

#console {
  overflow-x: scroll;
}

#console span {
  display: block;
  text-align: start;
  white-space: nowrap;
  font-family: monospace;
}

.card-title {
  text-align: start;
}

.subscribe-label {
  width: 20%;
  text-align: end;
  padding-right: 1em;
}

.subscribe-buttons {
  padding-left: 20%;
}

.fill-space {
  flex: 1;
}

.host-field, .client-id-field {
  flex: 1;
}