body {
  overflow-y: scroll;
  background-color: #faf9f8;
}

.logo {
  min-height: 4em;
}

.full-width {
  width: 100%;
}

.card {
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 2px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132),0 0.3px 0.9px 0 rgba(0,0,0,0.108);
  box-sizing: border-box;
  width: 960px;
}

.card-title {
  margin: 0;
}

#console {
  overflow-x: scroll;
}

#console span {
  display: block;
  text-align: start;
  white-space: nowrap;
  font-family: monospace;
}

.card-title {
  text-align: start;
}